@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fffbee;
  /*background: linear-gradient(90deg, rgba(233,200,171,1) 0%, rgba(255,230,208,1) 53%, rgba(255,255,255,1) 100%);*/

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-[25px] font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  /* ... */
}
